@media (min-width: 1620px) {
  .container {
    width: 1578px;
  }
}
@media (min-width: 1900px) {
  .container {
    width: 1638px;
  }
}
.pc {
  display: block;
}

.mobile {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section-title {
  padding: 1.25em 0;
}
.section-title h2 {
  margin: 0;
  color: #00b69f;
  font-size: 1.375rem;
  font-weight: 700;
}
.section-title h2 i {
  font-size: 0.7272727273em;
  vertical-align: middle;
  color: #ff023e;
}
.section-title p {
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1225px;
}

.button-u {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  background-color: #ff023e;
  padding: 0.8125em 1.875em;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}
.button-u:hover {
  background-color: #eaeaea;
  color: #ff023e;
  text-decoration: none;
}

.button-u.gray {
  background-color: #eaeaea;
  color: #ff023e;
}
.button-u.gray:hover {
  background-color: #ff023e;
  color: #ffffff;
}

body {
  font-family: "Fira Sans";
}

.main-header {
  position: relative;
}

.header-space {
  display: none;
}

@media (min-width: 1300px) {
  .header-space {
    display: block;
  }

  .main-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    top: 0;
    left: 0;
  }
}
/*===================== Mega menu ====================*/
.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  height: auto;
}
.navbar-brand img {
  width: 14.8333333333em;
}

.navbar-collapse {
  margin: 0 auto;
}

.navbar-default .navbar-nav > li {
  padding: 12px 0;
  background-color: #eaeaea;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
  color: #006f61;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 25px;
  border-right: 1px solid #006f61;
  background-color: transparent !important;
}
.navbar-default .navbar-nav > li:first-child {
  border-radius: 70px 0 0 70px;
}
.navbar-default .navbar-nav > li:last-child {
  border-radius: 0 70px 70px 0;
}
.navbar-default .navbar-nav > li:last-child a {
  border-color: transparent;
}

.navbar-default .navbar-nav > li.open.dropdown > a {
  position: relative;
}
.navbar-default .navbar-nav > li.open.dropdown > a:before {
  content: "";
  background: url(../images/menu-arrow.png) no-repeat;
  width: 12px;
  height: 6px;
  background-size: 100% 100%;
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.navbar-default .navbar-nav > li.open.dropdown > a:after {
  content: "";
  border-bottom: 4px solid #ff023e;
  position: absolute;
  left: 1px;
  bottom: -24px;
  width: 100%;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  background-color: #e7e7e7;
  margin: 0 auto;
  max-width: 829px;
}

.mega-drop {
  list-style: none;
  padding: 0;
  padding: 0 30px;
}
.mega-drop a {
  color: #006f61;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.mega-drop a img {
  width: 96px;
  height: 96px;
  margin-right: 16px;
}
.mega-drop a i {
  color: #ff023e;
  margin-right: 15px;
}

.mega-drop-2 {
  border-left: 2px solid #fff;
}

/*===================== option ====================*/
.options {
  min-width: 150px;
  text-align: right;
}
.options i {
  height: 32px;
  width: 32px;
  color: #fff;
  background-color: #ff023e;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}
.options i:hover {
  background-color: #eaeaea;
  color: #ff023e;
}
.options .hide-item {
  background-color: #b5b5b5;
  display: none;
}

.options.active i {
  display: none;
}
.options.active .hide-item {
  display: inline-block;
}

.option-area {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #cbcbcb;
  background-color: #fffffc;
  padding: 24px 0;
  text-align: right;
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 146%;
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: 33;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.option-area.active {
  position: absolute;
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.search-form form {
  width: 471px;
  margin-left: auto;
  border-radius: 32px;
  overflow: hidden;
  background-color: #eaeaea;
}
.search-form form input {
  float: left;
  height: 48px;
  border-radius: 32px;
  background-color: #eaeaea;
  width: calc(100% - 146px);
  border: none;
  color: #b5b5b5;
  font-size: 16px;
  font-style: italic;
  padding: 5px 30px;
}
.search-form form button {
  float: left;
  height: 48px;
  border-radius: 32px;
  background-color: #ff023e;
  width: 146px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.share-area i {
  height: 32px;
  width: 32px;
  color: #fff;
  background-color: #ff023e;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin-right: 8px;
}
.share-area a {
  color: #006f61;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
  text-decoration: none;
}

.setting-area .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.setting-area .contraste {
  color: #006f61;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-left: 30px;
}
.setting-area .contraste button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.setting-area .contraste i {
  height: 32px;
  width: 32px;
  color: #fff;
  background-color: #ff023e;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin: 0 3px;
  cursor: pointer;
}
.setting-area .contraste i.black {
  background-color: #292424;
}
.setting-area .contraste i.white {
  background-color: #fffffc;
  color: #292424;
}
.setting-area .contraste i.green {
  background-color: #00b69f;
}
.setting-area .contraste i.red {
  background-color: #ff023e;
}

body {
  top: 0 !important;
}

.goog-te-banner-frame {
  display: none;
}

#google_translate_element {
  display: inline-block;
}
#google_translate_element .goog-te-gadget {
  font-size: 0;
}
#google_translate_element .goog-logo-link {
  display: none;
}
#google_translate_element .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 332px;
}
#google_translate_element .bootstrap-select .dropdown-toggle {
  height: 32px;
  border-radius: 32px;
  background-color: #006f61;
  padding: 5px;
  border-color: #006f61;
}
#google_translate_element .bootstrap-select .dropdown-toggle:before {
  content: "\f1a0";
  font-family: "Font Awesome 5 Brands";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  left: 5px;
  color: #fff;
  font-size: 23px;
  top: 4px;
}
#google_translate_element .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
#google_translate_element .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}
#google_translate_element .bootstrap-select.btn-group .dropdown-toggle .caret {
  border: none;
  font-size: 33px;
  color: #fff;
  top: -4px;
  right: 28px;
}
#google_translate_element .bootstrap-select.btn-group .dropdown-toggle .caret:after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 400;
}

/*===================== banner-slider ====================*/
.banner-slider {
  position: relative;
}
.banner-slider .slider-img {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 46.1875em;
  min-height: 40.2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.banner-slider .slider-img .item {
  font-size: 2.5rem;
  font-weight: 300;
  color: #006f61;
  max-width: 20.5em;
  margin-left: auto;
  line-height: 1.2;
}
.banner-slider .slider-img .item .button-u {
  margin-left: 4em;
  margin-top: -4em;
}
.banner-slider .slider-img .item .overlay {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  padding: 1.6em;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  color: #ff023e;
  font-size: 2rem;
  margin-top: -1rem;
  cursor: pointer;
  left: 1.25em;
}

.slick-slider .fa-caret-circle-right {
  left: auto;
  right: 1.25em;
}

/*===================== tramites ====================*/
.tramites {
  padding-top: 20px;
}

.tramites-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.tramites-menu li {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  background-color: #eaeaea;
  margin: 5px 0.9375em;
}
.tramites-menu li a {
  color: #006f61;
  display: block;
  padding: 0.625em;
  padding-right: 2.1875em;
  text-decoration: none;
}
.tramites-menu li .icon {
  display: inline-block;
  background-color: #ff023e;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.tramites-menu li .icon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
}

/*===================== poll ====================*/
.poll {
  border-radius: 16px 16px 0 0;
  border: 2px solid #eaeaea;
  padding: 1.875em;
  position: relative;
}
.poll p {
  color: #292424;
  font-size: 1.25rem;
  font-weight: 700;
}
.poll label {
  display: block;
  margin-bottom: 10px;
}
.poll input {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 0;
  float: left;
  margin-top: 3px;
}
.poll span {
  color: #006f61;
  font-size: 1rem;
  font-weight: 400;
  float: left;
  width: 93%;
}
.poll .buttons {
  position: absolute;
  top: 93%;
}
.poll .buttons .button-u {
  margin-right: 0.8125em;
}

/*===================== eventos ====================*/
.eventos {
  margin-top: 30px;
}
.eventos .button-u {
  margin-top: -13px;
  margin-left: 1.875em;
  position: relative;
  z-index: 1;
}
.eventos .items {
  border-radius: 16px 16px 0 0;
  border: 2px solid #eaeaea;
  padding: 1.875em;
}
.eventos .items .slick-arrow {
  left: 8px;
}
.eventos .items .fa-caret-circle-right {
  left: auto;
  right: 8px;
}
.eventos .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eventos .items .item .img {
  float: left;
  width: 60%;
}
.eventos .items .item .img img {
  width: 100%;
}
.eventos .items .item .text {
  width: 40%;
  float: left;
  padding-left: 0.9375em;
}
.eventos .items .item .text date {
  color: #b5b5b5;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.875em;
  display: block;
}
.eventos .items .item .text a {
  color: #006f61;
  font-size: 1rem;
  font-weight: 700;
}

/*===================== notice-content ====================*/
.notice-content {
  padding-bottom: 30px;
}
.notice-content img {
  width: 100%;
  border-radius: 16px 16px 16px 0;
}
.notice-content .title {
  color: #292424;
  font-size: 1.625rem;
  font-weight: 700;
  display: block;
  margin: 1.1538461538em 0 0.5769230769em 0;
}
.notice-content p {
  color: #292424;
  font-size: 1rem;
  font-weight: 400;
}
.notice-content .social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1.875em;
}
.notice-content .social:after {
  content: "";
  position: absolute;
  background: #eaeaea;
  height: 2px;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
.notice-content .social .share {
  margin-left: auto;
}
.notice-content .social .share a {
  height: 1.7777777778em;
  width: 1.7777777778em;
  border-radius: 50%;
  background-color: #ff023e;
  color: #fff;
  line-height: 1.7777777778em;
  display: inline-block;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 1px;
  -webkit-transition: .3s;
  transition: .3s;
}
.notice-content .social .share a:hover {
  background-color: #eaeaea;
  color: #ff023e;
}

.more {
  color: #006f61;
  font-size: 1rem;
  font-weight: 700;
}

/*===================== service ====================*/
.service {
  padding-top: 30px;
}
.service .item {
  padding: 1.875em 0;
}
.service .item .img {
  width: 12em;
  height: 12em;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  float: left;
}
.service .item .img img {
  width: 100%;
}
.service .item .text {
  float: left;
  width: calc(100% - 12em);
  padding-left: 2em;
}
.service .item .text .title {
  color: #006f61;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.service .item .text ul {
  padding-left: 10px;
}
.service .item .text p {
  color: #1f191a;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.9375em 0;
}
.service .item .text .button-u {
  margin-top: 10px;
}

.service-wraper {
  background-color: rgba(0, 182, 159, 0.08);
  padding: 30px 0;
}

/*===================== nuestro ====================*/
.nuestro {
  padding-top: 15px;
}

.partner-slider-overlay {
  -webkit-box-shadow: 0 3px 32px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 32px rgba(0, 0, 0, 0.16);
  border-radius: 16px 16px 0 0;
  border: 2px solid #eaeaea;
  max-width: 1104px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
}

.patner-slider {
  max-width: 80%;
  margin: 0 auto;
}
.patner-slider .slick-arrow {
  left: -10%;
}
.patner-slider .fa-caret-circle-right {
  left: auto;
  right: -10%;
}

/*===================== main-footer ====================*/
.main-footer {
  background-color: #00b69f;
  color: #fffffd;
  padding: 30px 0;
  position: relative;
}
.main-footer .map {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
}
.main-footer a {
  color: #fffffd;
}
.main-footer .widget {
  padding: 15px 0;
}
.main-footer .footer-social {
  padding: 30px 0;
}
.main-footer .footer-social a {
  margin-left: 0;
  margin: 5px 0;
  margin-right: 24px;
}
.main-footer .footer-social a i {
  margin: 0;
}

.footer-bottom {
  background-color: #ff023e;
  padding: 10px 0;
  color: #fff;
}

/*=================== Table page ======================*/
.bread-area {
  background-color: #00b69f;
}
.bread-area .breadcrumb {
  padding: 0.6875em 0.9375em;
  background-color: transparent;
  margin: 0;
  font-family: #f;
  color: #fff;
}
.bread-area .breadcrumb li {
  font-size: 1rem;
}
.bread-area .breadcrumb li:first-child a {
  color: #ff023e;
}
.bread-area .breadcrumb a {
  font-family: #f;
  color: #006f61;
}

.drawermenu {
  background: rgba(0, 182, 159, 0.08);
  position: relative;
}
.drawermenu:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vh;
  right: 100%;
  top: 0;
  background: rgba(0, 182, 159, 0.08);
}
.drawermenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.drawermenu ul a {
  color: #006f61;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
}
.drawermenu ul li:last-child a.down {
  border-color: transparent;
}
.drawermenu ul a.down {
  padding: 1.25em 1.875em;
  display: block;
  border-bottom: 2px solid #75d7cb;
  position: relative;
}
.drawermenu ul a.down i {
  float: right;
  position: absolute;
  font-size: 2rem;
  right: 0.625em;
  top: 0.65625em;
}
.drawermenu ul .sub-menu {
  padding: 0.9375em 2.5em;
  border-bottom: 2px solid #75d7cb;
}
.drawermenu ul a.down.active {
  border-bottom: 0;
  padding-bottom: 0;
  color: #292424;
}
.drawermenu ul a.down.active .fa-angle-down::before {
  content: "\f106";
}
.drawermenu ul a:hover {
  color: #292424;
}
.drawermenu ul ul {
  display: none;
}

.table-content-area {
  padding-top: 5.5em;
}

.main-table {
  color: #292424;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1.875em;
}
.main-table .dataTables_length {
  margin-bottom: 1.875em;
}
.main-table .dataTables_length label {
  font-size: 1rem;
  font-weight: 400;
}
.main-table .dataTables_length .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 4.4375em;
  margin: 0 5px;
}
.main-table .dataTables_length .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}
.main-table .dataTables_length .bootstrap-select > .dropdown-toggle {
  padding-left: 16px;
  height: 2.5em;
  border-radius: 32px;
  background-color: #dcdbd6;
  text-align: center;
  font-size: 1rem;
  border: none;
}
.main-table .dataTables_length .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.5em dashed #006f61;
  border-top: 0.5em solid\9;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  right: 1.0625em;
  margin-top: 0;
}
.main-table .dataTables_length .bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 1.0625em;
  margin-top: 0;
}
.main-table .dataTables_length .bs-caret:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.5em dashed #006f61;
  border-top: 0.5em solid\9;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  position: absolute;
  right: 1.0625em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-table .dataTables_filter {
  margin-bottom: 1.875em;
  margin-right: 0.625em;
}
.main-table .dataTables_filter label {
  font-size: 0;
  display: block;
  width: 243px;
  position: relative;
}
.main-table .dataTables_filter label:after {
  content: "\f002";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  height: 2em;
  width: 2em;
  color: #fff;
  background-color: #ff023e;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  margin: 0 3px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  right: -6px;
  top: 4px;
}
.main-table .dataTables_filter label input {
  font-size: 1.125rem;
  color: #4a4a4a;
  background-color: #eaeaea;
  width: 100%;
  height: 2.2222222222em;
  border-radius: 50px;
  border: none;
  padding: 2px 2.7777777778em;
  padding-left: 25px;
  font-weight: 400;
}
.main-table .data-table thead tr th {
  background-color: rgba(220, 219, 214, 0.64);
  border: 1px solid #ffffff;
}
.main-table .data-table tbody tr td {
  background-color: #f2f2f0 !important;
  border: 1px solid #ffffff;
}
.main-table table.dataTable thead th,
.main-table table.dataTable thead td,
.main-table table.dataTable tbody th,
.main-table table.dataTable tbody td {
  padding: 1.0625em 1.875em;
  vertical-align: top;
  width: 70%;
}
.main-table table.dataTable thead .sorting,
.main-table table.dataTable thead .sorting_asc,
.main-table table.dataTable thead .sorting_desc {
  background-image: none;
  position: relative;
}
.main-table table.dataTable thead .sorting:before,
.main-table table.dataTable thead .sorting_asc:before,
.main-table table.dataTable thead .sorting_desc:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.5em dashed #006f61;
  border-top: 0.5em solid\9;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: 1.4375em;
  top: 1.1875em;
}
.main-table table.dataTable thead .sorting:after,
.main-table table.dataTable thead .sorting_asc:after,
.main-table table.dataTable thead .sorting_desc:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.125em;
  border-top: 0.5em dashed #006f61;
  border-top: 0.5em solid\9;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  position: absolute;
  right: 1.4375em;
  bottom: 1.1875em;
}
.main-table table.dataTable thead .sorting_asc {
  background-image: none;
  position: relative;
}
.main-table table.dataTable thead .sorting_asc:before {
  border-top: 0.5em dashed #006f61;
}
.main-table table.dataTable thead .sorting_asc:after {
  border-top: 0.5em dashed #b5b5b5;
}
.main-table table.dataTable thead .sorting_desc {
  background-image: none;
  position: relative;
}
.main-table table.dataTable thead .sorting_desc:before {
  border-top: 0.5em dashed #b5b5b5;
}
.main-table table.dataTable thead .sorting_desc:after {
  border-top: 0.5em dashed #006f61;
}
.main-table table.dataTable.no-footer {
  border-bottom: none;
}
.main-table table.dataTable.row-border tbody tr:first-child th,
.main-table table.dataTable.row-border tbody tr td:first-child,
.main-table table.dataTable.display tbody tr:first-child th,
.main-table table.dataTable.display tbody tr td:first-child {
  border-top: 1px solid #fff;
  width: 30%;
  font-weight: 700;
  vertical-align: top;
}
.main-table .dataTables_info {
  background: rgba(220, 219, 214, 0.34);
  width: calc(55% - 1px);
  padding: 3.125em 1.875em;
  height: 8.25em;
  color: rgba(41, 36, 36, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1px;
}
.main-table .dataTables_paginate {
  width: calc(45% - 1px);
  background: rgba(220, 219, 214, 0.34);
  padding: 3.125em 1.875em;
  height: 8.25em;
  margin-right: 1px;
}
.main-table .dataTables_paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  font-size: 0;
  cursor: pointer;
}
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before,
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f0d9";
  font-size: 27px;
  line-height: 32px;
  position: relative;
  left: -1px;
}
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
  content: "\f0da";
  left: 3px;
}
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #ff023e;
  width: 33px;
  height: 32px;
  padding: 0;
  line-height: 32px;
  color: #fff !important;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
  font-size: 16px;
}
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.main-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #fff !important;
  border: none;
  background: #b5b5b5;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-group {
  margin-bottom: 0;
}
.panel-group .panel-collapse {
  max-width: 962px;
  margin: 0 auto;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  border-radius: 0;
}

.panel-title > a {
  color: #006f61;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.25em 0;
  border-top: 1px solid #cbcbcb;
  display: block;
}
.panel-title > a i {
  float: right;
  font-size: 1.875rem;
  margin-top: -0.2em;
}

.panel-title > a[aria-expanded="true"] i:before {
  content: "\f106";
}

#table-without-search_wrapper .dataTables_length,
#table-without-search_wrapper .dataTables_filter {
  display: none;
}

.blog-content {
  border-top: 1px solid #cbcbcb;
}

.blog-item {
  max-width: 961px;
  margin: 0 auto;
}
.blog-item .section-title {
  padding-bottom: 20px;
}
.blog-item .title {
  margin-bottom: 2.25rem;
}
.blog-item .title h3 {
  margin: 0;
}
.blog-item .title h3 a {
  color: #292424;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1;
}
.blog-item date {
  color: #b5b5b5;
  font-size: 1rem;
  font-weight: 400;
}
.blog-item p {
  color: #1f191a;
  font-size: 1rem;
  font-weight: 400;
}
.blog-item .main-table .dataTables_paginate {
  padding: 0;
  height: auto;
  background: none;
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.blog-item .main-table .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  border: none;
  background: #b5b5b5;
}

.blog-form {
  border-radius: 16px 16px 0;
  border: 2px solid #eaeaea;
  padding: 1.875em;
  position: relative;
  padding-bottom: 3.4em;
  margin: 30px 0;
}
.blog-form p {
  color: #292424;
  font-size: 1rem;
  font-weight: 400;
}
.blog-form input {
  width: 100%;
  height: 3em;
  border-radius: 32px;
  background-color: #eaeaea;
  border: none;
  color: #b5b5b5;
  font-size: 1rem;
  font-style: italic;
  padding: 0 1.875em;
}
.blog-form .button-u {
  position: absolute;
  left: 2em;
  top: 84%;
}
