$f: 'Fira Sans';
$n: 'Nunito';
@import '_rem';

/*===================== Global Code ====================*/
@media (min-width:1620px) {
    .container {
        width: em(1578/16);
    }
}


@media (min-width: 1900px) {
    .container {
        width: (1578px + 60);
    }
}

.pc {
    display: block;
}

.mobile {
    display: none;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.section-title {
    padding: em(20/16) 0;

    h2 {
        margin: 0;
        color: #00b69f;
        font-size: rem(22px);
        font-weight: 700;

        i {
            font-size: em(16/22);
            vertical-align: middle;
            color: #ff023e;
        }
    }

    p {
        margin: 0 auto;
        margin-top: 15px;
        max-width: 1225px;
    }
}

.button-u {
    font-size: rem(16px);
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    background-color: #ff023e;
    padding: em(13/16) em(30/16);
    text-decoration: none;
    display: inline-block;
    transition: .3s;

    &:hover {
        background-color: #eaeaea;
        color: #ff023e;
        text-decoration: none;

    }
}

.button-u.gray {
    background-color: #eaeaea;
    color: #ff023e;

    &:hover {
        background-color: #ff023e;
        color: #ffffff;
    }
}

body {
    font-family: $f;
}

/*===================== Header Section ====================*/
.main-header {
    position: relative;
}


.header-space {
    display: none;
}


@media (min-width: 1300px) {
    .header-space {
        display: block;
    }

    .main-header {
        position: fixed;
        width: 100%;
        z-index: 9999;
        background: #fff;
        top: 0;
        left: 0;
    }
}


/*===================== Mega menu ====================*/

.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-brand {
    height: auto;

    img {
        width: em(267/18);
    }
}

.navbar-collapse {
    margin: 0 auto;
}

.navbar-default .navbar-nav > li {
    padding: 12px 0;
    background-color: #eaeaea;

    > a {
        color: #777;
        color: #006f61;
        font-size: 16px;
        font-weight: 700;
        padding: 20px 25px;
        border-right: 1px solid #006f61;
        background-color: transparent !important;
    }

    &:first-child {
        border-radius: 70px 0 0 70px;
    }

    &:last-child {
        border-radius: 0 70px 70px 0;

        a {
            border-color: transparent;
        }
    }
}

.navbar-default .navbar-nav > li.open.dropdown {
    > a {
        position: relative;

        &:before {
            content: "";
            background: url(../images/menu-arrow.png) no-repeat;
            width: 12px;
            height: 6px;
            background-size: 100% 100%;
            position: absolute;
            bottom: -21px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &:after {
            content: "";
            border-bottom: 4px solid #ff023e;
            position: absolute;
            left: 1px;
            bottom: -24px;
            width: 100%;
        }

    }
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    background-color: #e7e7e7;
    margin: 0 auto;
    max-width: 829px;
}

.mega-drop {
    list-style: none;
    padding: 0;
    padding: 0 30px;

    a {
        color: #006f61;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
        display: inline-block;
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            width: 96px;
            height: 96px;
            margin-right: 16px;
        }

        i {
            color: #ff023e;
            margin-right: 15px;
        }
    }
}

.mega-drop-2 {
    border-left: 2px solid #fff;
}

/*===================== option ====================*/
.options {
    min-width: 150px;
    text-align: right;

    i {
        height: 32px;
        width: 32px;
        color: #fff;
        background-color: #ff023e;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin: 0 3px;
        cursor: pointer;
        font-size: 16px;
        transition: .3s;

        &:hover {
            background-color: #eaeaea;
            color: #ff023e;
        }
    }

    .hide-item {
        background-color: #b5b5b5;
        display: none;
    }
}

.options.active {
    i {
        display: none;
    }

    .hide-item {
        display: inline-block;
    }
}


.option-area {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #cbcbcb;
    background-color: #fffffc;
    padding: 24px 0;
    text-align: right;
    min-height: 96px;
    display: flex;
    align-items: center;
    top: 146%;
    position: absolute;
    opacity: 0;
    width: 100%;
    z-index: 33;
    left: 0;
    transition: .5s;
    visibility: hidden;
}

.option-area.active {
    position: absolute;
    top: 100%;
    opacity: 1;
    visibility: visible;
}

/*===================== Header Search Form ====================*/
.search-form {
    form {
        width: 471px;
        margin-left: auto;
        border-radius: 32px;
        overflow: hidden;
        background-color: #eaeaea;

        input {
            float: left;
            height: 48px;
            border-radius: 32px;
            background-color: #eaeaea;
            width: calc(100% - 146px);
            border: none;
            color: #b5b5b5;
            font-size: 16px;
            font-style: italic;
            padding: 5px 30px;
        }

        button {
            float: left;
            height: 48px;
            border-radius: 32px;
            background-color: #ff023e;
            width: 146px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            border: none;
        }
    }
}

/*===================== Header Social ====================*/
.share-area {
    i {
        height: 32px;
        width: 32px;
        color: #fff;
        background-color: #ff023e;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin-right: 8px;
    }

    a {
        color: #006f61;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        text-decoration: none;
    }
}

/*===================== Header Setting ====================*/
.setting-area {
    .container {
        justify-content: flex-end;
    }

    .contraste {
        color: #006f61;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        margin-left: 30px;

        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
        }

        i {
            height: 32px;
            width: 32px;
            color: #fff;
            background-color: #ff023e;
            border-radius: 50%;
            text-align: center;
            line-height: 32px;
            margin: 0 3px;
            cursor: pointer;
        }

        i.black {
            background-color: #292424;
        }

        i.white {
            background-color: #fffffc;
            color: #292424;
        }

        i.green {
            background-color: #00b69f;
        }

        i.red {
            background-color: #ff023e;
        }
    }
}

/*===================== Google Translate ====================*/
body {
    top: 0 !important;
}

.goog-te-banner-frame {
    display: none;
}

#google_translate_element {
    display: inline-block;

    .goog-te-gadget {
        font-size: 0;
    }

    .goog-logo-link {
        display: none;
    }


    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 332px;
    }

    .bootstrap-select {


        .dropdown-toggle {
            height: 32px;
            border-radius: 32px;
            background-color: #006f61;
            padding: 5px;
            border-color: #006f61;

            &:before {
                content: "\f1a0";
                font-family: "Font Awesome 5 Brands";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                position: absolute;
                left: 5px;
                color: #fff;
                font-size: 23px;
                top: 4px;
            }


        }
    }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
    }

    .bootstrap-select .dropdown-toggle:focus {
        outline: 0 !important;
    }



    .bootstrap-select.btn-group .dropdown-toggle .caret {
        border: none;
        font-size: 33px;
        color: #fff;
        top: -4px;
        right: 28px;

        &:after {
            content: "\f107";
            font-family: "Font Awesome 5 Pro";
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-weight: 400;
        }
    }
}

/*===================== banner-slider ====================*/
.banner-slider {
    position: relative;

    .slider-img {
        background-size: cover;
        background-repeat: no-repeat;
        min-height: em(739/16);
        min-height: 40.2vw;
        align-items: center;
        display: flex !important;

        .item {
            font-size: rem(40px);
            font-weight: 300;
            color: #006f61;
            max-width: em(820/40);
            margin-left: auto;
            line-height: 1.2;

            .button-u {
                margin-left: em(64/16);
                margin-top: em(-64/16);
            }

            .overlay {
                background: rgba(255, 255, 255, .8);
                border-radius: 16px;
                padding: em(64/40);
            }
        }
    }


}

.slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    color: #ff023e;
    font-size: rem(32px);
    margin-top: (-2rem/2);
    cursor: pointer;
    left: em(40/32);
}

.slick-slider .fa-caret-circle-right {
    left: auto;
    right: em(40/32);
}

/*===================== tramites ====================*/
.tramites {
    padding-top: 20px;
}


.tramites-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        font-size: rem(16px);
        font-weight: 700;
        border-radius: 50px;
        background-color: #eaeaea;
        margin: 5px em(15/16);

        a {
            color: #006f61;
            display: block;
            padding: em(10/16);
            padding-right: em(35/16);
            text-decoration: none;
        }

        .icon {
            display: inline-block;
            background-color: #ff023e;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
            }
        }
    }
}

/*===================== poll ====================*/
.poll {
    border-radius: 16px 16px 0 0;
    border: 2px solid #eaeaea;
    padding: em(30/16);
    position: relative;

    p {
        color: #292424;
        font-size: rem(20px);
        font-weight: 700;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        vertical-align: middle;
        margin-right: 5px;
        margin-top: 0;
        float: left;
        margin-top: 3px;
    }

    span {
        color: #006f61;
        font-size: rem(16px);
        font-weight: 400;
        float: left;
        width: 93%;
    }

    .buttons {
        position: absolute;
        top: 93%;

        .button-u {
            margin-right: em(13/16);
        }
    }
}

/*===================== eventos ====================*/

.eventos {
    margin-top: 30px;

    .button-u {
        margin-top: -13px;
        margin-left: em(30/16);
        position: relative;
        z-index: 1;
    }

    .items {
        border-radius: 16px 16px 0 0;
        border: 2px solid #eaeaea;
        padding: em(30/16);

        .slick-arrow {
            left: 8px;
        }

        .fa-caret-circle-right {
            left: auto;
            right: 8px;
        }

        .item {
            display: flex;
            align-items: center;

            .img {
                float: left;
                width: 60%;

                img {
                    width: 100%;
                }
            }

            .text {
                width: 40%;
                float: left;
                padding-left: em(15/16);

                date {
                    color: #b5b5b5;
                    font-size: rem(16px);
                    font-weight: 400;
                    margin-bottom: em(30/16);
                    display: block;
                }

                a {
                    color: #006f61;
                    font-size: rem(16px);
                    font-weight: 700;
                }
            }
        }
    }
}

/*===================== notice-content ====================*/
.notice-content {
    padding-bottom: 30px;

    img {
        width: 100%;
        border-radius: 16px 16px 16px 0;
    }

    .title {
        color: #292424;
        font-size: rem(26px);
        font-weight: 700;
        display: block;
        margin: em(30/26) 0 em(15/26) 0;
    }

    p {
        color: #292424;
        font-size: rem(16px);
        font-weight: 400;
    }

    .social {
        align-items: center;
        position: relative;
        margin-top: em(30/16);

        &:after {
            content: "";
            position: absolute;
            background: #eaeaea;
            height: 2px;
            top: 50%;
            left: 0;
            width: 100%;
            z-index: -1;
        }

        .share {
            margin-left: auto;

            a {
                height: em(32/18);
                width: em(32/18);
                border-radius: 50%;
                background-color: #ff023e;
                color: #fff;
                line-height: em(32/18);
                display: inline-block;
                text-align: center;
                font-size: rem(18px);
                margin: 0 1px;
                transition: .3s;

                &:hover {
                    background-color: #eaeaea;
                    color: #ff023e;
                }
            }
        }
    }
}

.more {
    color: #006f61;
    font-size: rem(16px);
    font-weight: 700;
}

/*===================== service ====================*/
.service {
    padding-top: 30px;

    .item {
        padding: em(30/16) 0;

        .img {
            width: em(192/16);
            height: em(192/16);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
            border-radius: 50%;
            float: left;

            img {
                width: 100%;
            }
        }

        .text {
            float: left;
            width: calc(100% - 12em);
            padding-left: em(32/16);

            .title {
                color: #006f61;
                font-size: rem(16px);
                font-weight: 700;
                text-transform: uppercase;
            }

            ul {
                padding-left: 10px;
            }

            p {
                color: #1f191a;
                font-size: rem(16px);
                font-weight: 400;
                margin: em(15/16) 0;
            }

            .button-u {
                margin-top: 10px;
            }
        }
    }
}

.service-wraper {
    background-color: rgba(0, 182, 159, .08);
    padding: 30px 0;
}

/*===================== nuestro ====================*/
.nuestro {
    padding-top: 15px;
}

.partner-slider-overlay {
    box-shadow: 0 3px 32px rgba(0, 0, 0, 0.16);
    border-radius: 16px 16px 0 0;
    border: 2px solid #eaeaea;
    max-width: 1104px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.patner-slider {
    max-width: 80%;
    margin: 0 auto;

    .slick-arrow {
        left: -10%;
    }

    .fa-caret-circle-right {
        left: auto;
        right: -10%;
    }
}

/*===================== main-footer ====================*/
.main-footer {
    background-color: #00b69f;
    color: #fffffd;
    padding: 30px 0;
    position: relative;

    .map {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
    }

    a {
        color: #fffffd;
    }

    .widget {
        padding: 15px 0;
    }

    .footer-social {
        padding: 30px 0;

        a {
            margin-left: 0;
            margin: 5px 0;
            margin-right: 24px;

            i {
                margin: 0;
            }
        }
    }
}


.footer-bottom {
    background-color: #ff023e;
    padding: 10px 0;
    color: #fff;
}


/*=================== Table page ======================*/


/*===================== Table Breadcramb ====================*/

.bread-area {
    background-color: #00b69f;

    .breadcrumb {
        padding: em(11/16) em(15/16);
        background-color: transparent;
        margin: 0;
        font-family: #f;
        color: #fff;

        li {
            font-size: rem(16px);

            &:first-child {
                a {
                    color: #ff023e;
                }
            }
        }

        a {
            font-family: #f;
            color: #006f61;
        }
    }
}


/*===================== Table Side Menu ====================*/
.drawermenu {
    background: rgba(0, 182, 159, .08);
    position: relative;
    font-size: rem(16px);

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100vh;
        right: 100%;
        top: 0;
        background: rgba(0, 182, 159, 0.08);
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            color: #006f61;
            font-size: em(16/16);
            font-weight: 700;
            line-height: (28/16);
        }

        li {
            &:last-child {
                a.down {
                    border-color: transparent;
                }
            }
        }

        a.down {
            padding: em(20/16) em(30/16);
            display: block;
            border-bottom: 2px solid #75d7cb;
            position: relative;

            i {
                float: right;
                position: absolute;
                font-size: em(32/16);
                right: em(20/32);
                top: em(21/32);
            }
        }

        .sub-menu {
            padding: em(15/16) em(40/16);
            border-bottom: 2px solid #75d7cb;
        }

        a.down.active {
            border-bottom: 0;
            padding-bottom: 0;
            color: #292424;

            .fa-angle-down::before {
                content: "\f106";
            }
        }

        a {
            &:hover {
                color: #292424;
            }
        }

        ul {
            display: none;
        }
    }
}

/*===================== Main Table Css ====================*/

.table-content-area {
    padding-top: em(88/16);
}

.main-table {
    color: #292424;
    font-size: rem(16px);
    font-weight: 400;
    padding-bottom: em(30/16);

    .dataTables_length {
        margin-bottom: em(30/16);

        label {
            font-size: rem(16px);
            font-weight: 400;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: em(71/16);
            margin: 0 5px;
        }

        .bootstrap-select .dropdown-toggle:focus {
            outline: 0 !important;
        }

        .bootstrap-select > .dropdown-toggle {
            padding-left: 16px;
            height: em(40/16);
            border-radius: 32px;
            background-color: #dcdbd6;
            text-align: center;
            font-size: rem(16px);
            border: none;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: em(2/16);
            border-top: em(8/16) dashed #006f61;
            border-top: em(8/16) solid\9;
            border-right: em(8/16) solid transparent;
            border-left: em(8/16) solid transparent;
            right: em(17/16);
            margin-top: 0;
        }

        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: em(17/16);
            margin-top: 0;
        }

        .bs-caret {
            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: em(2/16);
                border-top: em(8/16) dashed #006f61;
                border-top: em(8/16) solid\9;
                border-right: em(8/16) solid transparent;
                border-left: em(8/16) solid transparent;
                position: absolute;
                right: em(17/16);
                transform: rotate(180deg);
            }
        }
    }

    .dataTables_filter {
        margin-bottom: em(30/16);
        margin-right: em(10/16);

        label {
            font-size: 0;
            display: block;
            width: 243px;
            position: relative;

            &:after {
                content: "\f002";
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                height: em(32/16);
                width: em(32/16);
                color: #fff;
                background-color: #ff023e;
                border-radius: 50%;
                text-align: center;
                line-height: em(32/16);
                margin: 0 3px;
                cursor: pointer;
                font-size: rem(16px);
                -webkit-transition: .3s;
                transition: .3s;
                position: absolute;
                right: -6px;
                top: 4px;
            }

            input {
                font-size: rem(18px);
                color: #4a4a4a;
                background-color: #eaeaea;
                width: 100%;
                height: em(40/18);
                border-radius: 50px;
                border: none;
                padding: 2px em(50/18);
                padding-left: 25px;
                font-weight: 400;
            }
        }
    }

    .data-table {
        thead {
            tr {
                th {
                    background-color: rgba(220, 219, 214, .64);
                    border: 1px solid #ffffff;
                }
            }
        }

        tbody {
            tr {
                td {
                    background-color: #f2f2f0 !important;
                    border: 1px solid #ffffff;
                }
            }
        }
    }

    table.dataTable thead th,
    table.dataTable thead td,
    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: em(17/16) em(30/16);
        vertical-align: top;
        width: 70%;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background-image: none;
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: em(2/16);
            border-top: em(8/16) dashed #006f61;
            border-top: em(8/16) solid\9;
            border-right: em(8/16) solid transparent;
            border-left: em(8/16) solid transparent;
            transform: rotate(180deg);
            position: absolute;
            right: em(23/16);
            top: em(19/16);
        }

        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: em(2/16);
            border-top: em(8/16) dashed #006f61;
            border-top: em(8/16) solid\9;
            border-right: em(8/16) solid transparent;
            border-left: em(8/16) solid transparent;
            position: absolute;
            right: em(23/16);
            bottom: em(19/16);
        }
    }

    table.dataTable thead .sorting_asc {
        background-image: none;
        position: relative;

        &:before {
            border-top: em(8/16) dashed #006f61;
        }

        &:after {
            border-top: em(8/16) dashed #b5b5b5;
        }
    }

    table.dataTable thead .sorting_desc {
        background-image: none;
        position: relative;

        &:before {
            border-top: em(8/16) dashed #b5b5b5;
        }

        &:after {
            border-top: em(8/16) dashed #006f61;
        }
    }



    table.dataTable.no-footer {
        border-bottom: none;
    }

    table.dataTable.row-border tbody tr:first-child th,
    table.dataTable.row-border tbody tr td:first-child,
    table.dataTable.display tbody tr:first-child th,
    table.dataTable.display tbody tr td:first-child {
        border-top: 1px solid #fff;
        width: 30%;
        font-weight: 700;
        vertical-align: top;
    }

    .dataTables_info {
        background: rgba(220, 219, 214, .34);
        width: calc(55% - 1px);
        padding: em(50/16) em(30/16);
        height: em(132/16);
        color: rgba(41, 36, 36, .5);
        font-size: rem(16px);
        font-weight: 400;
        margin-left: 1px;
    }

    .dataTables_paginate {
        width: calc(45% - 1px);
        background: rgba(220, 219, 214, .34);
        padding: em(50/16) em(30/16);
        height: em(132/16);
        margin-right: 1px;

    }

    .dataTables_paginate {
        display: flex;
        justify-content: flex-end;
    }

    .dataTables_wrapper .dataTables_paginate {

        .paginate_button.previous,
        .paginate_button.next {
            font-size: 0;
            cursor: pointer;

            &:before {
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                content: "\f0d9";
                font-size: 27px;
                line-height: 32px;
                position: relative;
                left: -1px;
            }
        }

        .paginate_button.next {
            &:before {
                content: "\f0da";
                left: 3px;
            }
        }

        .paginate_button {
            background: #ff023e;
            width: 33px;
            height: 32px;
            padding: 0;
            line-height: 32px;
            color: #fff !important;
            font-weight: 700;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 3px;
            font-size: 16px;
        }
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: #fff !important;
        border: none;
        background: #b5b5b5;
    }
}

.table-responsive {
    border: none;
}

/*===================== Table Accordition ====================*/
.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-group {
    margin-bottom: 0;

    .panel-collapse {
        max-width: 962px;
        margin: 0 auto;

    }
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    border-radius: 0;
}


.panel-title > a {
    color: #006f61;
    font-size: rem(16px);
    font-weight: 700;
    padding: em(20/16) 0;
    border-top: 1px solid #cbcbcb;
    display: block;

    i {
        float: right;
        font-size: rem(30px);
        margin-top: em(-6/30);
    }
}

.panel-title > a[aria-expanded="true"] {
    i {
        &:before {
            content: "\f106";
        }
    }
}

#table-without-search_wrapper {

    .dataTables_length,
    .dataTables_filter {
        display: none;
    }
}

/*===================== Blog Content ====================*/
.blog-content {
    border-top: 1px solid #cbcbcb;
}

.blog-item {
    max-width: 961px;
    margin: 0 auto;

    .section-title {
        padding-bottom: 20px;
    }

    .title {
        margin-bottom: rem(36px);

        h3 {
            margin: 0;

            a {
                color: #292424;
                font-size: rem(26px);
                font-weight: 700;
                line-height: 1;
            }
        }

    }

    date {
        color: #b5b5b5;
        font-size: rem(16px);
        font-weight: 400;
    }

    p {
        color: #1f191a;
        font-size: rem(16px);
        font-weight: 400;
    }

    .main-table .dataTables_paginate {
        padding: 0;
        height: auto;
        background: none;
        width: 100%;
        margin: 0;
        margin-top: 20px;

        .paginate_button {
            &:hover {
                color: #fff !important;
                border: none;
                background: #b5b5b5;
            }
        }
    }
}

/*===================== Blog Form ====================*/

.blog-form {
    border-radius: 16px 16px 0;
    border: 2px solid #eaeaea;
    padding: em(30/16);
    position: relative;
    padding-bottom: 3.4em;
    margin: 30px 0;

    p {
        color: #292424;
        font-size: rem(16px);
        font-weight: 400;
    }

    input {
        width: 100%;
        height: em(48/16);
        border-radius: 32px;
        background-color: #eaeaea;
        border: none;
        color: #b5b5b5;
        font-size: rem(16px);
        font-style: italic;
        padding: 0 em(30/16);
    }

    .button-u {
        position: absolute;
        left: 2em;
        top: 84%;
    }
}



.table-social {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    background: #fff;
    padding: 40px 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -(450px/2);

    a {
        margin-left: 0;
        text-align: center;
        display: block;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    i {
        margin-right: 0;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}
